@font-face {
    font-family: 'WenYue GuDianMingChaoTi (Authorization Required) JRFC';
    src: url('https://raw.githubusercontent.com/channelwey/-/main/WenYue_GuDianMingChaoTi_JRFC.otf') format('otf'), /* chrome、firefox */
}

.WenYue GuDianMingChaoTi (Authorization Required) JRFC {
    font-family: "WenYue GuDianMingChaoTi (Authorization Required) JRFC" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tree:after {content: '\33';}